@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
	font-family: 'Montserrat', Arial, sans-serif;
	background-color: #bef2ffff;
	height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.all {
	background-color: #219ebc;
	color: white;
	padding: 20px;
	border-radius: 20px;
	width: 500px;
	min-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

input {
	background: white;
	border-radius: 50px;
	border-style: none;
	width: 120px;
	height: 25px;
	margin-bottom: 10px;
}
